@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .base-input {
    @apply bg-[#303030] text-white rounded-sm p-2 mb-1;
  }

  .blog-subheading {
    @apply text-xs font-bold pt-4 pb-2;
  }

  .blog-paragraph {
    @apply text-2xs pb-2;
  }

  .page-marker {
    @apply flex justify-center items-center text-3xs p-1 mx-1 border border-[#818181] text-[#818181] rounded-[50%] h-[1rem] w-[1rem]
  }
}

input:focus,
textarea:focus {
  outline: #E6FF02 solid thin;
}

.sun {
  background: radial-gradient(at 50% 50%, white, #E7FF03);
  box-shadow: 0 0 30px 15px #E7FF03;
  border-radius: 50% 50% 50% 50%;
}

html {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  color: white;
  background-color: black;
}

.grid-menu {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto auto;
  grid-template-rows: auto 1rem;
}

.grid-card {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media screen and (min-width: 768px) {
  .grid-card {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

.grid-card-sm {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media screen and (min-width: 768px) {
  .grid-card-sm {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.grid-blog {
  display: grid;
  grid-template-columns: 100% 0;
  grid-template-rows: auto auto auto auto;
}

@media screen and (min-width: 1024px) {
  .grid-blog {
    grid-template-columns: 75% 1fr;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}